<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.blog.mapper.TagMapper">
    <!-- List<Tag> findTagsByArticleId(Long articleId);-->
    <select id="findTagsByArticleId" parameterType="long" resultType="com.tang.blog.entity.Tag">
        SELECT id,avatar,tag_name as tagName from ms_tag
        WHERE id in
        (SELECT tag_id from ms_article_tag WHERE article_id=#{articleId})
    </select>

</mapper>
